#s, #t {
    color: #fff;
    font: 40px/60px 'Segoe UI', 'Helvetica Neue', sans-serif;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 320px;
}

#s {
    background: #FF4500;
    text-decoration: none;
}

#t {
    background: rgba(0,0,0,0.5);
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    line-height: 40px;
    padding: 40px 0;
}

#t b:first-child {
    font-size: 40px;
    font-weight: 500;
}
